// * contact
.form-maps{
    border: 1px solid rgba(0, 0, 0, 0.237);
    padding: 2rem;
}
.inputform{
    width: 20px;
    height: 20px;
}

.contact-withus{
    position: relative;
}
.contact-withus::before{
    content: '';
    position: absolute;
    border-bottom: 4px solid rgb(40, 117, 249);
    height: 4px;
    width: 70px;
    top: 38px;
    left:0;
    transition: ease-in-out 0.5s;
}
.contact-withus:hover::before{
    width: 200px;
}

@media (max-width : 430px) {
    .sectioncotactus iframe{
       width: 400px;
       height: 400px;
        }
    .form-maps input , textarea  {
        width: 350px;
    }
    .form-maps .btnformmaps{
        width: 90px;
        background-color: aqua;
    }
    }
